{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payroll System | by Dreamteam</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <!-- Bootstrap Core CSS -->
    <link href= "{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/morris.css' %}" rel="stylesheet">

        {% block stylesblock %}
        {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="logo"><img src="{% static 'images/logo3.png' %}" alt="" style="width:235px; padding:5px;"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              <!-- /.dropdown -->
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="#" data-toggle="modal" data-target="#myModalUserInfo"><i class="fa fa-user fa-fw"></i> User Profile</a>
                      </li>
                      <li><a href="#" data-toggle="modal" data-target="#myModalSettings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                      <li>
                          <a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                      </li>
                      <li>
                          <a href="{% url 'paycheck' %}"><i class="fa fa-tasks fa-fw"></i> Paycheck</a>
                      </li>
                      <li>
                          <a href="{% url 'timesheets' %}"><i class="fa fa-table fa-fw"></i> Timesheets</a>
                      </li>
                      <li>
                          <a href="{% url 'expense-requests' %}"><i class="fa fa-money fa-fw"></i> Expenses</a>
                      </li>
                      <li>
                          <a href="{% url 'pto' %}"><i class="fa fa-edit fa-fw"></i> Paid Time Off</a>
                      </li>
                      <li>
                          <a href="{% url 'reports' %}"><i class="fa fa-bar-chart-o fa-fw"></i> Reports</a>
                      </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Approvals<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'timesheet-approvals' %}">Timesheet approvals</a>
                                </li>
                                <li>
                                    <a href="{% url 'expense-approvals' %}">Expenses approvals</a>
                                </li>
                                <li>
                                    <a href="{% url 'pto-approvals' %}">PTO approvals</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <!-- Modal -->
        <div class="modal fade" id="myModalUserInfo" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User profile information</h4>
              </div>
              <div class="modal-body">
                <h4>Name </h4>
                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <h4>User ID </h4>
                <p> {{ request.user }}</p>
                <h4>Email </h4>
                <p> {{ request.user.email }}</p>
                <h4>Address </h4>
                <p>{{ user_meta_data.address}}</p>
                <h4>SSN </h4>
                <p> {{ user_meta_data.social_security_number }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModalSettings" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Settings</h4>
              </div>
              <div class="modal-body">
                <h4>Change Password </h4>
                <input type="text" placeholder="User ID" name="uname" required>
                <br>
                <input type="password" placeholder="Old Password" name="old-password" required>
                <br>
                <input type="password" placeholder="New Password" name="old-password" required>
                <br>
                <button type="button" class="btn btn-default" onclick="">Change</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% block page-wrapper %}
        {% endblock %}

        <!-- Page Content
        <div id="page-wrapper">
            <div class="container-fluid">

            </div>
        </div>
        -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'scripts/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'scripts/bootstrap.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'scripts/metisMenu.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'scripts/sb-admin-2.js' %}"></script>

    {% block scriptsblock %}
    {% endblock %}


</body>

</html>
