{% extends 'layout-hr.html' %}
{% block stylesblock %}
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block page-wrapper %}

<!-- Page Content -->
<div id="page-wrapper" style="min-height:100%;">
    <div class="container-fluid">
        <h2> Add a user to the payroll system</h2>
        <form method="post" action="" id="form-create-account">
            {% csrf_token %}
            <div class="container-login">
                {% for field in user_form %}
                <div class="container-inside-form">
                    {{ field.errors }}
                    <label><b>{{ field.label_tag }}</b></label>
                    {{ field }}
                </div>
                {% endfor %}
                {% for field in user_metadata_form %}
                <div class="container-inside-form">
                    {{ field.errors }}
                    <label><b>{{ field.label_tag }}</b></label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <button type="submit"> Add user</button>
        </form>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}