{% extends 'layout-employee.html' %}

{% block stylesblock %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->

{% load static %}
<link href="{% static 'css/timesheet.css' %}" rel="stylesheet">

{% endblock %}

{% block page-wrapper %}

<div id="page-wrapper">
    <div class="container-fluid">

        <div class="container">
            <h1>Edit Timesheet</h1>
            <div id="app">
                <form method="post" action="">
                    {% csrf_token %}
                    <table class="table table-condensed" v-for="week in weeks">
                        <thead>
                        <tr style="border: none">
                            <th style="border: none">
                            </th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Hours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- <tr v-for="day in week.days"> -->
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours0"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours1"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours2"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours3"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours4"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours5"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="date" name="date"/>
                            </td>
                            <td>
                                <input class="form-control" type="number" min="0" max="24" step="1" name="hours" id="hours6"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- <h4>Total</h4> -->
                            </td>
                            <td>
                                <h4>Total: <input type="text" name="total" id="total"/></h4>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <!--       <h3 style="text-align:right">Overtime: 2 Hours</h3> -->
                        <!-- <h3 style="text-align:right">Pay Period Total: { periodTotalHours }</h3> -->
                        <button type="submit" class="btn btn-success" id="submit">Submit</button>
                        <!-- <button class="btn btn-warning" id="save">Save</button> -->
                        <button class="btn btn-danger" id="delete">Clear</button>
                        <!--           <pre>{ $data | json }</pre> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scriptsblock %}
{% load static %}
<!-- <script src="{% static 'scripts/timesheets.js' %}"></script> -->

<script type=text/javascript>
function caculateTotal() {
    var hours = document.getElementsByName('hours');
    var total = 0;
    for(var i = 0; i < arr.length; i++) {
        // if(parseInt(arr[i].value))
            // tot += parseInt(arr[i].value);
        total += hours[i].value;
    }
    document.getElementById('total').value = total;
}
</script>
{% endblock %}
